@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


$primary-font:Space Mono,monospace;
$primary-color:#c5e4e7;
$secondary-color: #00494d;
$text-cyan: #26c0ab;
$primaryBtn: blue ;

body {
    background:#c5e4e7;
  }

  