@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


$primary-font:Space Mono,monospace;
$primary-color:#c5e4e7;
$secondary-color: #00494d;
$text-cyan: #26c0ab;
$primaryBtn: blue ;

body {
    background: $primary-color;
  }

main{
  display:flex;
  justify-content:center;
  
}
 
header {
    .logo {
      margin-top:50px;
      margin-bottom:50px;
      width:100px;
    }
}

.sub-main{

  background:#ffff;
  padding:20px;

}