@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$primary-font:Space Mono,monospace;
$primary-color:#c5e4e7;
$secondary-color: #00494d;
$text-cyan: #26c0ab;
$primaryBtn: blue ;
$input-color: rgb(243, 249, 250);
$label-color:rgb(94, 122, 125);



*{
  font-family:$primary-font;
}



body {
    background: $primary-color;
  }

main{
  display:flex;
  justify-content:center;
  
}

.primary-btn {
  width:145px;
  height: 45px;
  background:$secondary-color;
  border-color: $secondary-color;
  border-radius:5px;
  color:#ffff;
  font-size:24px;
  font-weight:600;
  border-style:none;

   &:hover{
     background:$text-cyan;
     border-color:$text-cyan;
     color:$secondary-color;
     border-style:none;
   }

}

.btn6:hover{
  background:$input-color;
  border-color:$input-color;
  color:$secondary-color;
}

.btn7{
  margin-top:20px;
  background:$text-cyan;
  border-color:$text-cyan;
  color: $secondary-color;
  width:310px;
  height:50px;
  font-size:24px;
  border-radius: 10px;
  font-weight:600;
  border-style:none;
}

input[type="text"] {
  width:310px;
  height: 45px;
  margin-top: 10px;
  background:$input-color;
  border-color:$input-color;
  border-radius: 5px;
  border-style:none;
  
}


.input-label {
  color: $label-color;
  font-size: 20px;
  font-weight: 600;
  
}



.input-label2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  background:$secondary-color;
  &::placeholder{
    color:$input-color;
  }
}


.label {
  margin-top:10px;
}

.grid-container {
  padding-top:10px;
  display:grid;
  grid-template-columns: 150px 150px;
  grid-gap:10px;

}
 
header {
    .logo {
      margin:50px 0px 30px 130px;
      width:100px;
      
    }
}

.sub-main{

  background:#ffff;
  padding:20px;
  border-radius:20px;

}

.subb_main{
  margin-top:20px;
  background:$secondary-color;
  padding:20px;
  border-radius:20px;

}